<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/css/main.css")
  body
    form.form(action="/auth/login", method="POST")
      label
        span Username
        input(type="text", name="username", placeholder="Username", value=username)
      label
        span Password
        input(type="password", name="password", placeholder="Password")
      label.inline
        - var checked = !!username
        input(type="checkbox", name="rememberMe", value="true", checked=checked)
        span Remember me
      input(type="submit", value="Login")
    a(href="/auth/signup") Sign Up
